<div class="header">
    <div class="pagewrap">
        <div class="company_time">
            <ul>
                <li>
                    <i class="fa fa-volume-control-phone"></i>Hotline: <span>0383730647</span>
                </li>
                <li><i class="fa fa-volume-control-phone"></i>Email: hungdoan1234567@gmail.com</li>
            </ul>
            <div class="lang_top">
                <a href="">
                    <img alt="viet" src="assets/Images/eng.png" width="40" height="40">
                </a>
                <a href="">
                    <img alt="eng" src="assets/Images/vn.png" width="40" height="40">
                </a>
            </div>
            <ul class="right_header">
                <li>
                    <a (click)="LOAD_popup_new()"
                        class="cur">
                        <i class="fa fa-user-plus"></i>Đăng ký </a>
                </li>
                <li>
                    <a (click)=" LOAD_popup_new_dangnhap()"
                        class="cur">
                        <i class="fa fa-user-circle-o"></i>Đăng Nhập </a>
                </li>
                <div class="clr"></div>
            </ul>
        </div>
        <div class="clr"></div>
    </div>
</div>

