.header{padding:8px 0;color:#fff;background:#eee}
.pagewrap{position:relative;width:1200px;margin:0 auto}
.lang_top img{width:auto;height:24px;border:solid #fff 0px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;margin-left:10px}
.lang_top img:hover{opacity:.7}
.lang_top{float:right;margin-right:10px;margin-top:0px}
.company_time{padding-right:10px;padding-top:3px}
.company_time i,.link_page ul li i{margin-right:10px}
.company_time h3{margin-top:0;border:solid #FFF 1px;margin-right:10px;float:left}
.company_time h3:hover{opacity:.8}
.company_time ul li{float:left;list-style:none;margin-left:10px;color:#666;font-size:16px;margin-right:10px;text-transform:none}
.company_time ul li span{color:#f60;font-size:14px}
.company_time ul.right_header{float:right}
.company_time ul li span{font-weight:600;font-size:17px;color:#ed1c24;letter-spacing:1px}
.company_time ul li img{margin-right:10px}
.company_time ul li a{color:#fff;background:#00bed5;display:block;padding:2px 20px;border-radius:10px;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;font-size:15px}
.company_time ul li a:hover{color:#fff;background:#2783c4}
.clr{clear:both}