<div class="page_home_id">
    <div class="pagewrap">
        <div class="left_conten">
            <div class="box_page">
                <div class="title_page_ip">
                    <h3>NHÀ ĐẤT BÁN</h3>
                    <div class="clr"></div>
                </div>
                <div class="box_tin_bds" itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <li>
                        <a href="">
                            <img class="images-vip-bv hidden vipbv-321486" src="assets/Images/1555057094_2-2.png">
                            <img itemprop="image"
                                src="assets/Images/thumbnew_1598277318-356.jpg"
                                style="opacity: 1;">
                        </a>
                    </li>
                    <ul>
                        <h3 itemprop="headline"><a href="">Bán
                                nhà Phố Trạm, đối diện AEON Long Biên, 41m, 4 tầng, DÂN XÂY, LÔ GÓC, 10M Ô TÔ, 2.6
                                TỶ</a>
                        </h3>
                        <div class="mota-bds">
                            <h4><i class="fa fa-money" aria-hidden="true"></i>Giá bán:
                                <span>2.60 Tỷ</span>
                            </h4>
                            <p>
                                <i class="fa fa-map-o" aria-hidden="true"></i>Diện tích : 41 m2
                            </p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Quận/huyện : Long Biên, Hà Nội </p>
                            <p><i class="fa fa-eye"></i>Lượt xem : 57</p>
                            <p><i class="fa fa-clock-o"></i>Thời gian : 31/03/2021, lúc: 10 giờ 03 phút</p>
                        </div>
                        <div class="thanhvien_id_bds">
                            <li>
                                <a href="">
                                    <img alt="Đoàn Văn Hùng" class=""
                                        src="assets/Images/eng.png" style="opacity: 1;">
                                </a>
                            </li>
                            <ul>
                                <h1><span title="Nhấn để hiển thị:" class="js-load-num-an-hien" v="86529"
                                        k="09793"><i>Nhấn để hiển thị:</i>09793****</span></h1>
                                <h2>
                                    <a href="0383730647">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    </a>
                                </h2>
                                <h2 class="">
                                    <a onclick="click_qtam('321486','0')">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </h2>
                                <p></p>
                                <div class="clr"></div>
                            </ul>
                            <div class="clr"></div>
                        </div>
                    </ul>
                    <div class="clr"></div>
                </div>
                <div class="box_tin_bds" itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <li>
                        <a href="">
                            <img class="images-vip-bv hidden vipbv-321486" src="assets/Images/1555057094_2-2.png">
                            <img itemprop="image"
                                src="assets/Images/thumbnew_1618031796-12.31A Bồ Đề 25 5 3.8 1.75 tỷ - 1.jpg"
                                style="opacity: 1;">
                        </a>
                    </li>
                    <ul>
                        <h3 itemprop="headline"><a href="">Bán
                                nhà Phố Trạm, đối diện AEON Long Biên, 41m, 4 tầng, DÂN XÂY, LÔ GÓC, 10M Ô TÔ, 2.6
                                TỶ</a>
                        </h3>
                        <div class="mota-bds">
                            <h4><i class="fa fa-money" aria-hidden="true"></i>Giá bán:
                                <span>2.60 Tỷ</span>
                            </h4>
                            <p>
                                <i class="fa fa-map-o" aria-hidden="true"></i>Diện tích : 41 m2
                            </p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Quận/huyện : Long Biên, Hà Nội </p>
                            <p><i class="fa fa-eye"></i>Lượt xem : 57</p>
                            <p><i class="fa fa-clock-o"></i>Thời gian : 31/03/2021, lúc: 10 giờ 03 phút</p>
                        </div>
                        <div class="thanhvien_id_bds">
                            <li>
                                <a href="">
                                    <img alt="Doan Van Hung" class=""
                                        src="assets/Images/eng.png" style="opacity: 1;">
                                </a>
                            </li>
                            <ul>
                                <h1><span title="Nhấn để hiển thị:" class="js-load-num-an-hien" v="86529"
                                        k="09793"><i>Nhấn để hiển thị:</i>09793****</span></h1>
                                <h2>
                                    <a href="tel:0979386529">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    </a>
                                </h2>
                                <h2 class="">
                                    <a onclick="click_qtam('321486','0')">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </h2>
                                <p></p>
                                <div class="clr"></div>
                            </ul>
                            <div class="clr"></div>
                        </div>
                    </ul>
                    <div class="clr"></div>
                </div>
                <div class="box_tin_bds" itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <li>
                        <a href="">
                            <img class="images-vip-bv hidden vipbv-321486" src="assets/Images/1555057094_2-2.png">
                            <img itemprop="image"
                                src="assets/Images/thumbnew_1608289463-20201112222536-9b3a.jpg"
                                style="opacity: 1;">
                        </a>
                    </li>
                    <ul>
                        <h3 itemprop="headline"><a href="">Bán
                                nhà Phố Trạm, đối diện AEON Long Biên, 41m, 4 tầng, DÂN XÂY, LÔ GÓC, 10M Ô TÔ, 2.6
                                TỶ</a>
                        </h3>
                        <div class="mota-bds">
                            <h4><i class="fa fa-money" aria-hidden="true"></i>Giá bán:
                                <span>2.60 Tỷ</span>
                            </h4>
                            <p>
                                <i class="fa fa-map-o" aria-hidden="true"></i>Diện tích : 41 m2
                            </p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Quận/huyện : Long Biên, Hà Nội </p>
                            <p><i class="fa fa-eye"></i>Lượt xem : 57</p>
                            <p><i class="fa fa-clock-o"></i>Thời gian : 31/03/2021, lúc: 10 giờ 03 phút</p>
                        </div>
                        <div class="thanhvien_id_bds">
                            <li>
                                <a href="">
                                    <img alt="Đỗ Thị Huệ" class=""
                                        src="assets/Images/vn.png" style="opacity: 1;">
                                </a>
                            </li>
                            <ul>
                                <h1><span title="Nhấn để hiển thị:" class="js-load-num-an-hien" v="86529"
                                        k="09793"><i>Nhấn để hiển thị:</i>09793****</span></h1>
                                <h2>
                                    <a href="tel:0979386529">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    </a>
                                </h2>
                                <h2 class="">
                                    <a onclick="click_qtam('321486','0')">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </h2>
                                <p></p>
                                <div class="clr"></div>
                            </ul>
                            <div class="clr"></div>
                        </div>
                    </ul>
                    <div class="clr"></div>
                </div>
                <div class="box_tin_bds" itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                    <li>
                        <a href="">
                            <img class="images-vip-bv hidden vipbv-318235" src="assets/Images/1555057094_2-2.png">
                            <img itemprop="image"
                                src="assets/Images/thumbnew_1618644920-IMG_20210417_135448_635.jpg"
                                style="opacity: 1;">
                        </a>
                    </li>
                    <ul>
                        <h3 itemprop="headline"><a href="">Bán
                                Nhà Bồ Đề, Tự thiết kế, diện tích 60m, xây 6 tầng , 6 phòng ngủ, 6.1 tỷ, GARA, TẶNG NỘI
                                THẤT</a>
                        </h3>
                        <div class="mota-bds">
                            <h4><i class="fa fa-money" aria-hidden="true"></i>Giá bán:
                                <span>6.10 Tỷ</span>
                            </h4>
                            <p>
                                <i class="fa fa-map-o" aria-hidden="true"></i>Diện tích : 60 m2
                            </p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Quận/huyện : Long Biên, Hà Nội </p>
                            <p><i class="fa fa-eye"></i>Lượt xem : 26</p>
                            <p><i class="fa fa-clock-o"></i>Thời gian : 26/03/2021, lúc: 10 giờ 03 phút</p>
                        </div>
                        <div class="thanhvien_id_bds">
                            <li>
                                <a href="">
                                    <img alt="Đỗ Thị Huệ" class=""
                                        src="assets/Images/eng.png" style="opacity: 1;">
                                </a>
                            </li>
                            <ul>
                                <h1><span title="Nhấn để hiển thị:" class="js-load-num-an-hien" v="86529"
                                        k="09793"><i>Nhấn để hiển thị:</i>09793****</span></h1>
                                <h2>
                                    <a href="tel:0979386529">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    </a>
                                </h2>
                                <h2 class="">
                                    <a onclick="click_qtam('318235','0')">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </h2>
                                <p></p>
                                <div class="clr"></div>
                            </ul>
                            <div class="clr"></div>
                        </div>
                    </ul>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
    </div>
</div>