<div class="left_conten">
    <div class="box_page">
        <div class="title_page_ip">
            <h3>Thay đổi mật khẩu</h3>
            <div class="clr"></div>
        </div>
        <div class="dv-dangnhap">
            <form action="" method="post" name="dangkythanhvien" id="dangkythanhvien" enctype="multipart/form-data">
                <div class="dangnhap_popup no_box">
                    <p>Email</p>
                    <div class=" row-frm">
                        <input type="text" class="form-control" value="Doan Van Hung" readonly="readonly">
                    </div>
                    <div class=" row-frm">
                        <p>Nhập mật khẩu cũ</p>
                        <input type="password" id="passold_dk" name="passold_dk" class="form-control cls_data_check_form_check_dangky" data-rong="1" data-msso="Vui lòng nhập mật khẩu cũ!">
                    </div>
                    <div class=" row-frm">
                        <p>Nhập mật khẩu mới</p>
                        <input type="password" id="pass_dk" name="pass_dk" class="form-control cls_data_check_form_check_dangky" data-rong="1" data-msso="Nhập mật khẩu mới">

                    </div>
                    <div class=" row-frm">
                        <p>Nhập lại mật khẩu mới</p>
                        <input type="password" id="repass_dk" name="repass_dk" class="form-control cls_data_check_form_check_dangky" id-khac="#pass_dk" data-rong="1" data-khac="1" data-msso="Vui lòng nhập lại mật khẩu!" data-msso1="Nhập lại mật khẩu không chính xác!">

                    </div>
                    <div class="box_dangnhap_popup">
                        <h2>
                            <a class="cur" onclick="return check_capnhat()">Lưu thay đổi                                        <img class="img_load_from_dktv" src="images/loading2.gif"></a>
                        </h2>
                    </div>
                    <div class="clr"></div>
                </div>
            </form>
        </div>
    </div>
</div>
