<div class="conten">
    <div class="top_conten">
        <div class="pagewrap">
            <div class="bannerMain_box">
                <div class="bannerMain">
                    <div class="caroufredsel_wrapper"
                        style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 764px; height: 422px; margin: 0px; overflow: hidden; cursor: move;">
                        <div class="banner"
                            style="text-align: left; float: none; position: absolute;inset: 0px auto auto 0px; width: 6876px; z-index:auto; opacity: 0.88692;">
                            <li style="width: 764px;">
                                <a href="" target>
                                    <img src="assets/Images/1561169498_z1425566997906_caacf6810053d488411f76b1c6da340e-compressed.jpg"
                                        alt>
                                </a>
                            </li>
                        </div>
                        <div class="banner"
                            style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 6660px; height: 409px; z-index: 0; opacity: 0.11308;">

                            <li style="width: 740px;">
                                <a href="" target> <img src="" alt>
                                </a>
                            </li>
                        </div>
                    </div>
                    <ul class="pagiBanner" style="display: block;">
                        <a href="#" class><span>1</span></a><a href="#" class><span>2</span></a><a href="#"
                            class="selected"><span>3</span></a><a href="#"><span>4</span></a>
                    </ul>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="title_page_ip hidden">
                <h3>Tìm bất động sản</h3>
                <div class="clr"></div>
            </div>
            <div class="timkiem_home  ">
                <h3 class>TÌM NGAY 383.521 BẤT ĐỘNG SẢN </h3>
                <div class="col-md-2 row-frm">
                    <select name id="hinh_thuc" class="form-control js_search_nc on">
                        <option value>--Tất cả loại tin--</option>
                        <option value="5">Nhà đất bán</option>
                        <option value="7">
                            &nbsp;+ Bán Căn Hộ Chung Cư</option>
                        <option value="8">
                            &nbsp;+ Bán Nhà Riêng</option>
                        <option value="9">
                            &nbsp;+ Bán Nhà Biệt Thự, Liền Kề</option>
                        <option value="10">
                            &nbsp;+ Bán Nhà Mặt Phố</option>
                        <option value="11">
                            &nbsp;+ Bán Đất Nền Dự Án</option>
                        <option value="12">
                            &nbsp;+ Bán Đất</option>
                        <option value="13">
                            &nbsp;+ Bán Trang Trại, Khu Nghỉ Dưỡng</option>
                        <option value="14">
                            &nbsp;+ Bán Kho, Nhà Xưởng</option>
                        <option value="15">
                            &nbsp;+ Bán Loại Bất Động Sản Khác</option>
                        <option value="6">Nhà đất cho thuê</option>
                        <option value="16">
                            &nbsp;+ Cho Thuê Căn Hộ Chung Cư</option>
                        <option value="17">
                            &nbsp;+ Cho Thuê Nhà Riêng</option>
                        <option value="18">
                            &nbsp;+ Cho Thuê Nhà Mặt Phố</option>
                        <option value="19">
                            &nbsp;+ Cho Thuê Nhà Trọ, Phòng Trọ</option>
                        <option value="20">
                            &nbsp;+ Cho Thuê Văn Phòng</option>
                        <option value="21">
                            &nbsp;+ Cho Thuê Cửa Hàng - Ki Ốt</option>
                        <option value="22">
                            &nbsp;+ Cho Thuê Kho, Nhà Xưởng, Đất</option>
                        <option value="23">
                            &nbsp;+ Cho Thuê Loại Bất Động Sản Khác</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="tinh_thanh" class="form-control js_search_nc  on"
                        onchange="LOAD_tinhthanh(this, '#quan_huyen', 'Chọn quận / huyện')">
                        <option value selected="selected">--Chọn tỉnh / thành--</option>
                        <option value="17783">Hồ Chí Minh</option>
                        <option value="8006">Hà Nội</option>
                        <option value="13325">Thanh Hóa</option>
                        <option value="13171">Ninh Bình</option>
                        <option value="12931">Nam Định</option>
                        <option value="12808">Hà Nam</option>
                        <option value="12513">Thái Bình</option>
                        <option value="12341">Hưng Yên</option>
                        <option value="12103">Hải Phòng</option>
                        <option value="11825">Hải Dương</option>
                        <option value="11690">Bắc Ninh</option>
                        <option value="11543">Vĩnh Phúc</option>
                        <option value="11252">Phú Thọ</option>
                        <option value="11011">Bắc Giang</option>
                        <option value="10810">Quảng Ninh</option>
                        <option value="10572">Lạng Sơn</option>
                        <option value="10382">Thái Nguyên</option>
                        <option value="10160">Hoà Bình</option>
                        <option value="9970">Yên Bái</option>
                        <option value="9753">Sơn La</option>
                        <option value="9636">Lai Châu</option>
                        <option value="9495">Điện Biên</option>
                        <option value="9321">Lào Cai</option>
                        <option value="9172">Tuyên Quang</option>
                        <option value="9041">Bắc Kạn</option>
                        <option value="8828">Cao Bằng</option>
                        <option value="13988">Nghệ An</option>
                        <option value="14490">Hà Tĩnh</option>
                        <option value="14766">Quảng Bình</option>
                        <option value="14934">Quảng Trị</option>
                        <option value="15085">Thừa Thiên Huế</option>
                        <option value="15247">Đà Nẵng</option>
                        <option value="15311">Quảng Nam</option>
                        <option value="15572">Quảng Ngãi</option>
                        <option value="15771">Bình Định</option>
                        <option value="15942">Phú Yên</option>
                        <option value="16064">Khánh Hòa</option>
                        <option value="16214">Ninh Thuận</option>
                        <option value="16287">Bình Thuận</option>
                        <option value="16425">Kon Tum</option>
                        <option value="16537">Gia Lai</option>
                        <option value="16775">Đắk Lắk</option>
                        <option value="16959">Đắk Nông</option>
                        <option value="17029">Lâm Đồng</option>
                        <option value="17181">Bình Phước</option>
                        <option value="17304">Tây Ninh</option>
                        <option value="17409">Bình Dương</option>
                        <option value="17510">Đồng Nai</option>
                        <option value="17693">Bà Rịa - Vũng Tàu</option>
                        <option value="18130">Long An</option>
                        <option value="18338">Tiền Giang</option>
                        <option value="18523">Bến Tre</option>
                        <option value="18697">Trà Vinh</option>
                        <option value="18813">Vĩnh Long</option>
                        <option value="18931">Đồng Tháp</option>
                        <option value="19088">An Giang</option>
                        <option value="19256">Kiên Giang</option>
                        <option value="19417">Cần Thơ</option>
                        <option value="19512">Hậu Giang</option>
                        <option value="19597">Sóc Trăng</option>
                        <option value="19718">Bạc Liêu</option>
                        <option value="19790">Cà Mau</option>
                        <option value="8621">Hà Giang</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="quan_huyen" class="form-control js_search_nc on"
                        onchange="LOAD_tinhthanh(this, '#khu_vuc', 'Chọn khu vực')">
                        <option value>--Chọn quận / huyện--</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="dien_tich" class="form-control js_search_nc on">
                        <option value>--Chọn diện tích--</option>
                        <option value="1">Chưa xác định</option>
                        <option value="2">30 m2</option>
                        <option value="3">30 - 50 m2</option>
                        <option value="4">50 - 80 m2</option>
                        <option value="5">80 - 100 m2</option>
                        <option value="6">100 - 150 m2</option>
                        <option value="7">150 - 200 m2</option>
                        <option value="8">200 - 250 m2</option>
                        <option value="9">250 - 300 m2</option>
                        <option value="10">300 - 500 m2</option>
                        <option value="11">&gt;= 500 m2</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="muc_gia" class="form-control js_search_nc on">
                        <option value>--Chọn mức giá--</option>
                        <option value="1">Thỏa thuận</option>
                        <option value="2">&lt; 500triệu</option>
                        <option value="3">500 - 800triệu</option>
                        <option value="4">800triệu - 1tỷ</option>
                        <option value="5">1 - 2tỷ</option>
                        <option value="6">2 - 3tỷ</option>
                        <option value="7">3 - 5tỷ</option>
                        <option value="8">5 - 7tỷ</option>
                        <option value="9">7 - 10tỷ</option>
                        <option value="10">10 - 20tỷ</option>
                        <option value="11">20 - 30tỷ</option>
                        <option value="12">&gt;= 30tỷ</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="khu_vuc" class="form-control js_search_nc hide off">
                        <option value>--Chọn khu vực--</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="huong_nha" class="form-control js_search_nc hide off">
                        <option value>--Chọn hướng nhà--</option>
                        <option value="19915">Bắc</option>
                        <option value="19916">Đông</option>
                        <option value="19917">Đông bắc</option>
                        <option value="19918">Đông nam</option>
                        <option value="19919">Nam</option>
                        <option value="19920">Tây</option>
                        <option value="19921">Tây bắc</option>
                        <option value="19922">Tây Nam</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="so_phong_ngu" class="form-control js_search_nc hide off">
                        <option value>--Chọn số phòng ngủ--</option>
                        <option value="19923">1</option>
                        <option value="19924">2</option>
                        <option value="19925">3</option>
                        <option value="19926">4</option>
                        <option value="19927">5</option>
                        <option value="19928">6</option>
                        <option value="19929">7</option>
                        <option value="19930">8</option>
                        <option value="19931">9</option>
                        <option value="19932">10</option>
                        <option value="19933">Tên 10 phòng</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="so_tang" class="form-control js_search_nc hide off">
                        <option value>--Chọn số tầng--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="so_phong_wc" class="form-control js_search_nc hide off">
                        <option value>--Chọn số wc--</option>
                        <option value="19934">1</option>
                        <option value="19935">2</option>
                        <option value="19936">3</option>
                        <option value="19937">4</option>
                        <option value="19938">5</option>
                        <option value="19939">6</option>
                        <option value="19940">7</option>
                        <option value="19941">8</option>
                        <option value="19942">9</option>
                        <option value="19943">10</option>
                        <option value="19944">Trên 10 phòng</option>
                    </select>
                </div>
                <div class="col-md-2 row-frm">
                    <select name id="cho_do_oto" class="form-control js_search_nc hide off">
                        <option value>--Chọn chổ đổ ô tô--</option>
                        <option value="19945">Không có</option>
                        <option value="19946">1 chỗ đỗ ô tô</option>
                        <option value="19947">2 chỗ đỗ ôtô</option>
                        <option value="19948">3 chỗ đỗ ôtô</option>
                        <option value="19949">Trên 3 chỗ đỗ ôtô</option>
                    </select>
                </div>
                <h4><a class="cur" onclick="check_timkiem_nc()"><i class="fa fa-search"></i>Tìm
                        kiếm</a></h4>
                <h5><a class="cur" onclick="check_nc_js()"><i class="fa fa-angle-double-right"></i><span
                            class="sp_text_tknc" on="Tìm kiếm nâng cao" off="Bỏ tìm kiếm nâng cao">Tìm kiếm nâng
                            cao</span></a>
                </h5>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <app-detailconten></app-detailconten>
    <app-detailconten-types></app-detailconten-types>
</div>
