<div class="tintuc_box_home">
    <div class="pagewrap">
        <div class="titBox left">
            <div class="tit_2">Tin tức &amp; sự kiện</div>
            <div class="sub_2">TỔNG HỢP CÁC TIN TỨC &amp; SỰ KIỆN NÓNG HỔI NHẤT</div>
        </div>
        <div class="left_tt_home flex">
            <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                <li>
                    <a href="">
                        <img itemprop="image" alt="" class=""
                            src="assets/Images/1576827886_nha-dat-quan-hoang-mai.jpg"
                            style="opacity: 1;">
                    </a>
                </li>
                <h3><a href="" itemprop="headline">Bán nhà đất quận
                        Hoàng Mai</a></h3>
                <h4><i class="fa fa-calendar" aria-hidden="true"></i>20/12/2019 </h4>
                <p>Vị trí đắc địa

                    Quận Hoàng Mai có vị trí chiến lược tại cửa ngõ phía Nam thủ đô, được đánh giá là tuyến huyết mạch
                    kết nối với nhiều tỉnh thành phía Bắc.

                    Theo Quy hoạch đến năm 2030 và tầm nhìn đến năm 2050, Hà Nội đang mở rộng khu vực đô thị trung tâm
                    từ các quận nội đô về các quận phía Tây và Nam thành phố. Vì vậy, trong những năm gần đây, hạ tầng
                    giao thông khu vực phía Nam liên tục được đầu tư xây dựng. Trong đó, giao thông quận Hoàng Mai ngày
                    càng trở nên đồng bộ với nhiều dự án trọng điểm đang được đẩy mạnh triển khai và hoàn thiện.

                    Những cung đường lớn được hoàn thiện trong thời gian tới sẽ hạn chế tối đa tình trạng tắc đường để
                    người dân thuận lợi hơn trong sinh hoạt hàng ngày và di chuyển về các tỉnh vùng ven. Do đó, thị
                    trường mua bán nhà đất quận Hoàng Mai cũng được thúc đẩy và ngày càng tăng giá trị.</p>

            </ul>
            <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                <li>
                    <a href="">
                        <img itemprop="image" alt="" class=""
                            src="assets/Images/1576827470_ban-nha-dat-quan-ha-dong-ha-noi.jpg"
                            style="opacity: 1;">
                    </a>
                </li>
                <h3><a href="" itemprop="headline">Bán nhà đất Quận Hà
                        Đông</a></h3>
                <h4><i class="fa fa-calendar" aria-hidden="true"></i>20/12/2019 </h4>
                <p>Bán nhà đất quận Hà Đông là một trong những hoạt động luôn được đẩy mạnh trong thời gian gần đây.
                    Hàng loạt những khu đất giàu tiềm năng khai thác cùng những căn nhà đầy đủ tiện nghi, mặt tiền đường
                    phố được chào hàng liên tục. Cơn sốt bất động sản này đã thu hút sự quan tâm của khá nhiều người,
                    nhất là những người đang tìm kiếm một mặt bằng “đắc địa” để phát triển kinh doanh.</p>

            </ul>
            <div class="clr"></div>
        </div>
        <div class="right_tt_home flex" style="height: 530px;">
            <div class="marquee" style="height: 100%;">
                <div class="js-marquee-wrapper">
                    <div class="js-marquee" style="margin-right: 0px; float: none; margin-bottom: 0px;">
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="" class=""
                                     src="assets/Images/1566467871_phoi-canh-3d-81f9.jpg">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán
                                    nhà đất Quận Hai Bà Trưng</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>18/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="Bán nhà đất Hà Nội" class="" 
                                    src="assets/Images/1576471994_ban-nha-dat-quan-long-bien.jpg">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán nhà đất Hà
                                    Nội</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>18/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="" class="" 
                                    src="assets/Images/1576472628_ban-nha-dat-quan-thanh-xuan-ha-noi.jpg">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán
                                    nhà đất quận Thanh Xuân</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>16/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="Bán nhà đất quận Long Biên" class="" 
                                    src="assets/Images/1576642410_yge1499919623.jpg">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán
                                    nhà đất quận Long Biên</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>16/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="Bán nhà đất quận Ba Đình" class=""
                                        src="https://bannha888.com/datafiles/setone/1576471603_103.11.15-van-cao.jpg">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán
                                    nhà đất quận Ba Đình</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>16/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="Mẫu nhà ống diện tích 63m2, 2 tầng 2 phòng ngủ đẹp"
                                        class="" src="">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Mẫu
                                    nhà ống diện tích 63m2, 2 tầng 2 phòng ngủ đẹp</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>22/08/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                    </div>
                    <div class="js-marquee" style="margin-right: 0px; float: none; margin-bottom: 0px;">
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="" class="" src="">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán
                                    nhà đất Quận Hai Bà Trưng</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>18/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="Bán nhà đất Hà Nội" class=""
                                        src="https://bannha888.com/datafiles/setone/1576641793_20180726092137-57b2.jpg">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán nhà đất Hà
                                    Nội</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>18/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="Bán nhà đất quận Thanh Xuân" class="" src="">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán
                                    nhà đất quận Thanh Xuân</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>16/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="" class="" src="">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán
                                    nhà đất quận Long Biên</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>16/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="" class="" src="">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Bán
                                    nhà đất quận Ba Đình</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>16/12/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                        <ul itemscope="" itemtype="http://schema.org/ScholarlyArticle">
                            <li>
                                <a href="">
                                    <img itemprop="image" alt="" class="" src="">
                                </a>
                            </li>
                            <h3>
                                <a itemprop="headline" href="">Mẫu
                                    nhà ống diện tích 63m2, 2 tầng 2 phòng ngủ đẹp</a>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>22/08/2019 </span>
                            </h3>
                            <div class="clr"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</div>