
<div class="pagewrap page_conten_page">
    <div class="col-md-10 contentQuizz">
        <router-outlet></router-outlet>
      </div>
    <div class="right_conten">
        <div class="box_page">
            <div class="title_page_ip">
                <h3>Thông tin cá nhân</h3>
                <div class="clr"></div>
            </div>
            <div class="padding_pagewrap_2">
                <div class="thogntin_canhan">
                    <ul>
                        <li>
                            <a href="">
                                <img alt="" src="assets/Images/vn.png">
                            </a>
                        </li>
                        <h3><a class="alink" href="">Đoàn Văn Hùng</a></h3>
                        <p>
                            <a href=""><i class="fa fa-pencil-square-o"
                                    aria-hidden="true"></i>Sửa thông tin </a>
                        </p>
                        <h4>ID:00023646</h4>
                        <p>Điểm tích lũy là: <strong>3,128,000 Gold</strong> hãy tăng điểm tích lũy để vào danh sách môi
                            giới nổi bật.</p>
                        <p><a href="#"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Tài khoản này đang không sử
                                dụng hình thức đăng tin theo gói nào. Click để mua gói đăng tin </a></p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box_page">
            <div class="title_page_ip">
                <h3>thông tin quản lý</h3>
                <div class="clr"></div>
            </div>
            <div class="padding_pagewrap_2">
                <div class="menu_left_dangtin">
                    <ul>
                        <li>
                            <a [routerLink]="['/account/news']" title="Đăng tin">
                                <i class="fa fa-id-card-o" aria-hidden="true"></i>Đăng tin </a>
                        </li>
                        <li>
                            <a href="" title="Sửa, xóa, up tin">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sửa, xóa, up tin </a>
                        </li>
                        <li>
                            <a href=""
                                title="Dịch vụ đăng tin trọn gói">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>Dịch vụ đăng tin trọn gói </a>
                        </li>
                        <li>
                            <a href="" title="Trang cá nhân">
                                <i class="fa fa-address-book" aria-hidden="true"></i>Trang cá nhân </a>
                        </li>
                        <li>
                            <a href="" title="Đăng VIP chỉ với 19.000vnđ/ngày">
                                <i class="fa fa-vimeo" aria-hidden="true"></i>Đăng VIP chỉ với 19.000vnđ/ngày </a>
                        </li>
                        <li>
                            <a href="" title="Quản lý khách hàng">
                                <i class="fa fa-users" aria-hidden="true"></i>Quản lý khách hàng </a>
                        </li>
                        <li>
                            <a href="" title="Tin Nhắn">
                                <i class="fa fa-comments" aria-hidden="true"></i>Tin Nhắn </a>
                        </li>
                        <li>
                            <a [routerLink]="['/account/changepass']" title="Thay đổi mật khẩu">
                                <i class="fa fa-key" aria-hidden="true"></i>Thay đổi mật khẩu </a>
                        </li>
                        <li>
                            <a [routerLink]="['/account/detail-account']" title="Thông Tin Tài Khoản">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>Thông Tin Tài Khoản </a>
                        </li>
                        <li>
                            <a href="" title="Tìm nhà quanh đây">
                                <i class="fa fa-map" aria-hidden="true"></i>Tìm nhà quanh đây </a>
                        </li>
                        <li>
                            <a href="" title="Khách hàng tiềm năng">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>Khách hàng tiềm năng </a>
                        </li>
                        <li>
                            <a href="" title="Thoát">
                                <i class="fa fa-power-off" aria-hidden="true"></i>Thoát </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="banner_right_id">
        </div>
    </div>
    <div class="clr"></div>
</div>
