/APINetCore/obj
/APINetCore/bin
/.vs
/Common/obj
/Common/bin
/DataAccess/obj
/DataAccess/bin
/DataModule/obj
/DataModule/bin
/IRepositoryBase/obj
/IRepositoryBase/bin
/IServiceBase/obj
/IServiceBase/bin
/Repositories/obj
/Repositories/bin
/Repository.cs/obj
/Repository.cs/bin
/Services/obj
/Services/bin
/WebApplication1/obj
/WebApplication1/bin
