<div class="dv-popup-new no_box acti">
    <div class="dv-popup-new-child actiok" style="width: 455px;">
        <button class ="Cancel"(click)="eXit()">x</button>
        <div class="dv-nd-popup">
            <form action="" method="post" name="dangkythanhvien" id="dangkythanhvien">
                <div class="ungtuyen_popup login_id_popup">
                    <div class="titBox left">
                        <h3 class="tit_2">Đăng ký thành viên</h3>
                    </div>
                    <div class="col-md-4 row-frm">
                        <input type="text" name="email_dk" class="form-control cls_data_check_form_check_dangky"
                            data-rong="1" data-email="1" data-msso="Chưa nhập địa chỉ email"
                            data-msso1="Địa chỉ Email không hợp lệ!" placeholder="Email (*)">
                    </div>
                    <div class="col-md-4 row-frm">
                        <input type="password" name="pass_dk" class="form-control cls_data_check_form_check_dangky"
                            id="pass_dk" data-rong="1" data-msso="Vui lòng nhập mật khẩu!" placeholder="Mật khẩu (*)">
                    </div>
                    <div class="col-md-4 row-frm">
                        <input type="password" name="repass_dk" class="form-control cls_data_check_form_check_dangky"
                            id="repass_dk" id-khac="#pass_dk" data-rong="1" data-khac="1"
                            data-msso="Vui lòng nhập lại mật khẩu!" data-msso1="Nhập lại mật khẩu không chính xác!"
                            placeholder="Nhập lại mật khẩu (*)">
                    </div>
                    <div class="col-md-4 row-frm">
                        <input type="text" name="fullname_dk" class="form-control cls_data_check_form_check_dangky"
                            data-rong="1" data-msso="Vui lòng nhập họ tên!" placeholder="Họ &amp; tên (*)">
                    </div>
                    <div class="col-md-4 row-frm">
                        <input type="text" id="phone_dk" class="form-control cls_data_check_form_check_dangky"
                            name="phone_dk" data-rong="1" data-phone="1" data-msso="Vui lòng nhập số điện thoại!"
                            data-msso1="Số điện thoại không hợp lệ!" placeholder="Số điện thoại (*)">
                    </div>
                    <div class="col-md-4 row-frm">
                        <input type="text" name="diachi" class="form-control cls_data_check_form_check_dangky"
                            data-rong="1" data-msso="Vui lòng nhập địa chỉ của bạn!" placeholder="Địa chỉ (*)">
                    </div>
                    <label class="checkbox">
                        <input checked="" type="checkbox" id="thoa_thuan" name="thoa_thuan">Đồng ý với các điều khoản
                        của chúng tôi? </label>
                    <div class="box_dangnhap_popup">
                        <h2><a class="cur" onclick="check_dangky()">Đăng Ký <img class="img_load_from_dktv"
                                    src=""></a>
                        </h2>
                    </div>
                    <div class="clr"></div>
                </div>
            </form>
            <div class="login_link">
                <ul>
                    <h3 class="fb">
                        <a href="https://bannha888.com/?login=fb"><i class="fa fa-facebook fa-fw"></i>Đăng ký bằng
                            Facebook </a>
                    </h3>
                    <h3 class="google">
                        <a href="https://bannha888.com/?login=google"><i class="fa fa-google fa-fw"></i>Đăng ký bằng
                            Google</a>
                    </h3>
                </ul>
            </div>
        </div>
    </div>
</div>