<div class="box_menu" style=" width: 100%; float: left;">
        <div class="pagewrap">
                <div class="logo_top"><a href=""><img alt="logo" src="assets/Images/Real-Madrid-Logo.png"></a></div>
                <ul class="menu no_box">
                        <li class="is_step_0 li_sp hide_2"><a class="active_mn_01 acti" href="">Trang chủ</a></li>
                        <li class="is_step_5 li_sp hide_3"><a class=" active_mn_5" [routerLink]="['/detailconten']" routerLinkActive="router-link-active" >Nhà đất bán<i
                                                class="fa fa-angle-down"></i></a>
                                <ul>
                                        <li class="li_sp "><a class href="">Bán Căn Hộ Chung Cư</a></li>
                                        <li class="li_sp "><a class href="">Bán Nhà Riêng</a></li>
                                        <li class="li_sp "><a class href="">Bán Nhà
                                                        Biệt Thự, Liền Kề</a></li>
                                        <li class="li_sp "><a class href="">Bán Nhà Mặt Phố</a></li>
                                        <li class="li_sp "><a class href="">Bán Đất Nền Dự Án</a></li>
                                        <li class="li_sp "><a class href="">Bán
                                                        Đất</a></li>
                                        <li class="li_sp "><a class href="">Bán Trang Trại, Khu Nghỉ Dưỡng</a></li>
                                        <li class="li_sp "><a class href="">Bán Kho, Nhà Xưởng</a></li>
                                        <li class="li_sp "><a class href="">Bán
                                                        Loại Bất Động Sản Khác</a></li>
                                </ul>
                        </li>
                        <li class="is_step_5 li_sp hide_4"><a class=" active_mn_5" [routerLink]="['/detailcontentypes']" >Nhà Đất Cho
                                        Thuê<i class="fa fa-angle-down"></i></a>
                                <ul class>
                                        <li class="li_sp "><a class href="">Cho
                                                        Thuê Căn Hộ Chung Cư</a></li>
                                        <li class="li_sp "><a class href="">Cho Thuê Nhà Riêng</a></li>
                                        <li class="li_sp "><a class href="">Cho Thuê Nhà Mặt Phố</a></li>
                                        <li class="li_sp "><a class href="">Cho
                                                        Thuê Nhà Trọ, Phòng Trọ</a></li>
                                        <li class="li_sp "><a class href="">Cho Thuê Văn Phòng</a></li>
                                        <li class="li_sp "><a class href="">Cho Thuê
                                                        Cửa Hàng - Ki Ốt</a></li>
                                        <li class="li_sp "><a class href="">Cho
                                                        Thuê Kho, Nhà Xưởng, Đất</a></li>
                                        <li class="li_sp "><a class href="">Cho Thuê Loại Bất Động Sản Khác</a></li>
                                </ul>
                        </li>
                        <li class="is_step_1 li_sp hide_5"><a class=" active_mn_1" [routerLink]="['/events']">Tin Tức &amp;
                                        Sự Kiện<i class="fa fa-angle-down"></i></a>
                                <ul class>
                                        <li class="li_sp is_dm_1"><a class href="">Tin Tức Công Ty</a></li>
                                        <li class="li_sp is_dm_2"><a class href="">Tin Thị Trường</a></li>
                                        <li class="li_sp is_dm_3"><a class href="">Tin
                                                        Tức Bất
                                                        Động Sản</a></li>
                                        <li class="li_sp is_dm_4"><a class href="">Thông Tin
                                                        Quy Hoạch</a></li>
                                        <li class="li_sp is_dm_26"><a class href="">Kiến trúc</a></li>
                                </ul>
                        </li>
                        <li class="is_step_2 li_sp hide_6"><a class=" active_mn_2" href="">Đối Tác</a></li>
                        <li class="is_step_3 li_sp hide_7"><a class=" active_mn_3" href="">Liên Hệ<i
                                                class="fa fa-angle-down"></i></a>
                                <ul class=" ">
                                        <li class="li_sp"><a class="active_mn_01 acti" href="">Hướng
                                                        dẫn
                                                        đăng tin</a></li>
                                        <li class="li_sp"><a class="active_mn_01 acti" href="" target="_blank">Bảng giá
                                                        đăng tin</a></li>
                                </ul>
                        </li>
                </ul>
                <div class="icon_dangtin_mienphi">
                        <a [routerLink]="['/account/news']" ><i class="fa fa-edit"></i>đăng tin</a>
                </div>
                <div class="clr"></div>
        </div>
        <div class="clr"></div>