<div class="footer_top">
    <div class="pagewrap flex">
        <ul class="gt_footer">
            <h2>BATDONGSANHL.COM</h2>
            <p>Điện thoại: <strong>038 373 0647</strong>&nbsp;| Hotline: <strong>038 373 0647</strong></p>

            <p>Email: hungdoan1234567@gmail.com</p>

            <p>Website: www.batdongsanhl.com</p>
        </ul>
        <ul class="gt_footer">
            <iframe id="if_iframeload"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.589200673202!2d105.82043211567893!3d21.009097993823417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac821966dfbb%3A0x3df6f086eebad4e3!2zNTAgTmfDtSAzIFRow6FpIEjDoCwgVHJ1bmcgTGnhu4d0LCDEkOG7kW5nIMSQYSwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1551232549904"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </ul>
        <ul>
            <h2>hỗ trợ khách hàng</h2>
            <li><a href="" title="Hướng dẫn đăng tin">Hướng dẫn đăng tin</a></li>
            <li><a href="" title="Điều khoản thoả thuận">Điều khoản thoả thuận</a></li>
            <li><a href="" title="Giải quyết tranh chấp">Giải quyết tranh chấp</a></li>
            <li><a href="" title="Quy chế hoạt động">Quy chế hoạt động</a></li>
            <li><a href="" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
            <li><a href="" title="Quy định đăng tin">Quy định đăng tin</a></li>
            <li><a href="" title="Bảo mật thông tin">Bảo mật thông tin</a></li>
            <li><a href="" title="Quy định sử dụng">Quy định sử dụng</a></li>
            <div class="clr"></div>
        </ul>
        <div class="clr"></div>
    </div>
</div>
